body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: blue;
    font-weight: bold;
}

table {
    box-shadow: 4px 4px 16px blue;
    border-radius: 0.75rem;
    border-spacing: 1rem;
    background: rgba(0, 255, 255, 0.2) url(./images/khuyen-mai.png) center bottom / contain no-repeat;
}
  
  /* Header */
caption {
    color: white;
    text-shadow: 0 0 4px black, 0 0 16px blue;
    margin-inline: -8rem;
}

tr > td:first-of-type {
    text-align: end;
}

tr > td:first-of-type::after {
    content: ":";
}
  
/* Row 1 */
tr:first-of-type > td:last-of-type > * {
    width: 20rem;
}
  
 /* Row 2 */
tr:nth-of-type(2) > td:last-of-type {
    padding-inline-end: 2.5rem;
}

select, input, textarea {
    background-color: rgba(0, 0, 255, 0.2);
    border: 1px dotted blue;
    border-radius: 0.75rem;
    padding: 0.25rem 0.5rem;
}
  
/* Row 3 */
tr:nth-of-type(4) > td {
    padding-block: 1rem;
}
  
/* Row 4 */
tr:nth-of-type(6) > td:last-of-type > select > option {
    padding-inline-end: 6rem;
}
  
  /* Last 2 rows */
tr:last-of-type > td:first-of-type, tr:nth-last-of-type(2) > td:first-of-type {
    text-align: center;
}

tr:last-of-type > td:first-of-type::after, tr:nth-last-of-type(2) > td:first-of-type::after {
    content: "";
}
  
/* Last row-1 */
tr:nth-last-of-type(2) > td:first-of-type {
    padding-block: 1rem;
}

button {
    color: white;
    background-image: linear-gradient(blue, deepskyblue);
    padding: 0.125rem 1.5rem;
    border-color: white;
    border-radius: 0.5rem;
}
  
/* Last row */
tr:last-of-type > td:first-of-type {
    color: magenta;
    font-style: italic;
}