body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: blue;
}

table {
    border-collapse: collapse;
    background-color: beige;
  }

td {
    padding: 0.5rem;
    border: 2px solid blue;
}

caption {
    text-transform: uppercase;
}

tr > td:first-of-type {
    padding-inline-end: 6rem;
}
  
/* Row 1 */
tr:first-of-type > td:last-of-type > * {
    width: 20rem;
}
  
/* Row 2 */
textarea {
    font-family: Arial, Helvetica, sans-serif;
}
  
/* Row 3 */

  input[type='checkbox'] {
    accent-color: #eee;
}
  
/* Row 4 */
tr:nth-of-type(6) > td {
    padding-block: 1rem;
}

input[type='radio'] {
    accent-color: #666;
}
  
/* Row 5 */
tr:nth-of-type(7) > td:first-of-type {
    padding-inline: 8rem;
}

tr:nth-of-type(7) > td:first-of-type > fieldset {
    padding-inline-end: 4rem;
}

tr:nth-of-type(7) > td:first-of-type > fieldset > input {
    width: 6rem;
}
  
/* Last 2 rows */
tr:last-of-type > td:first-of-type, tr:nth-last-of-type(2) > td:first-of-type {
    text-align: center;
    padding: 0.5rem 0;
}
  
/* Last row */
  tr:last-of-type > td:first-of-type {
    color: crimson;
    font-weight: bold;  
}