html {
    height: 100%;
}
body, h1 {
    min-height: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    color: white;
    text-shadow: 2px 2px 4px darkmagenta;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: url(./images/nen-hoa-co.jpg) center / cover no-repeat;
    padding: 2rem;
    text-align: center;
}
  
.contents-container {
    display: flex;
    height: calc(100vh - 100px);
}
  
.navigation-img {
    height: 100%;
}

iframe {
    width: 100%;
}